.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.vertical-align {
  vertical-align: sub;
}

.row {
  display: flex;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
